
/*Overwritten*/
.fancybox-skin {
    background: #FFFFFF;
}

#forgotten-password-parent {
    background: transparent;
}

#forgotten-password-parent-center {
    position: relative; 
    width: 960px;
    height: auto;
    margin: 0px auto 40px auto;
    overflow: hidden;
}

#forgotten-password {
    position: relative; 
    width: 650px;
    height: auto;
    margin: 20px auto 0px auto;
    padding: 0px;
    /*border: silver solid thin;*/
}

.forgotten-password-title {
    width: 100%;
    padding-left: 20px;
}

.forgotten-password-fields-wrapper {
    position: relative; 
    width: 600px;
    margin: 20px;
    /*border: red dotted thin;*/
}

#forgotten-password-action-button-wapper {
    position: relative; 
    margin: 10px 0px 0px 20px;
}

.forgotten-password-action-button {
    position: relative; 
    width: 200px; 
    height: 32px;
}

/**********************************************
 * MESSAGE AFTER SUBMIT
 **********************************************/

#forgotten-password-message-after-submit {
    position: relative; 
    width: 400px;  
    padding: 10px;
    font-weight: normal;
    /*border:  #0000CC solid thin;*/ 
}

#forgotten-password-message-after-submit-title {
    position: relative; 
    width: 100%;    
    font-size: 20px; 
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

#forgotten-password-message-after-submit-success {
    position: relative; 
    width: 100%;    
    font-size: 14px;
    font-weight: bold;
}

#forgotten-password-message-after-submit-unsuccess {
    position: relative; 
    width: 100%;    
    font-size: 14px;
    color: red;
    font-weight: bold;
}