
/**********************************************
 * EMPTY CART
 **********************************************/

#shoppingcart-content-empty {
    text-align: center;
    margin: 20px 0px;
}

#shoppingcart-content-empty-img {
    width: 70px; 
    height: 70px;    
}

#shoppingcart-content-empty-text {
    font-weight: normal; 
    font-style: italic;
    font-size: 16px;
}

/**********************************************
 * ARTICLES TABLE
 **********************************************/

#shoppingcart-content-articles {
    padding: 20px 20px 0px 20px;
}

#shoppingcart-content-articles-table {
    width: 100%; 
    /*border: #000000 dashed thin;*/
}

.shoppingcart-content-articles-table-column {
    position: relative; 
    padding: 5px; 
}

/**********************************************
 * ARTICLE COLUMN
 **********************************************/

.shoppingcart-content-articles-table-column-article {
    width: 70.00%; 
}

.shoppingcart-content-articles-table-column-article-content {
    height: 106px;
    padding: 0px;
    margin: 0px;
}

.shoppingcart-content-articles-table-column-article-content-img {
    position: relative;  
    width: 80px; 
    height: 80px;
    margin-top: 3px;
}

.shoppingcart-content-articles-table-column-article-content-container-text {
    position: relative; 
    width: 100%; 
    height: 100%;
    overflow: hidden;
    padding-left: 10px;
    /*border: green solid thin;*/  
}

.shoppingcart-content-articles-table-column-article-content-title {
    margin-top: 5px;
}

.shoppingcart-content-articles-table-column-article-content-title a {
    color: black !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.shoppingcart-content-articles-table-column-article-content-display {
    font-size: 12px;
}

.shoppingcart-content-articles-table-column-article-content-brand {
    font-size: 14px;
    margin-top: 10px;
}

.shoppingcart-content-articles-table-column-article-content-brand a {
    text-decoration: none;
}

.shoppingcart-content-articles-table-column-article-content-ref {
    font-size: 12px;
    margin-top: 10px;
}

/**********************************************
 * PRICE COLUMN
 **********************************************/

.shoppingcart-content-articles-table-column-price {
    width: 25.00%;  
}

.shoppingcart-content-articles-table-column-price-content {
    text-align: center;
    font-size: 20px;
}

.shoppingcart-content-articles-table-column-price-content-trash {
    margin-left: -4px;
}

/**********************************************
 * TOTALS TABLE
 **********************************************/

#shoppingcart-content-totals {
    padding: 0px 20px;
}

.shoppingcart-content-totals-table {
    padding: 20px 0px;
    width: 100%; 
}

.shoppingcart-content-totals-table-column {
    padding: 5px;
    /*border: red solid thin;*/
}

.shoppingcart-content-totals-table-column-shippingcost {
    padding: 5px 5px 0px 5px;
    /*border: red solid thin;*/
}

.shoppingcart-content-totals-label {
    width: 80.00%; 
    text-align: right;
    color: grey;
    font-weight: normal;
    font-size: 12px; 
    padding-top: 5px;
}

.shoppingcart-content-totals-table-column-info {
    width: 80.00%; 
    text-align: right;
    padding: 0px 10px 8px 5px;
    font-weight: normal;
    font-size: 12px;
    color: black;
    font-style: italic;
}

.shoppingcart-content-totals-value {
    width: 15.00%;  
    text-align: center; 
    font-size: 20px;
    font-weight: bold; 
}

.shoppingcart-content-totals-shippingcost {
    font-weight: normal; 
}

.shoppingcart-content-totals-trash {
    width: 5.00%;  
    text-align: center;
    cursor: pointer;
    /*padding-top: 4px;*/
}

/**********************************************
 * VOUCHER
 **********************************************/

#shoppingcart-content-voucher-zone {
    position: relative;
    padding: 0px 20px;
    /*border: green solid thin;*/
}

#shoppingcart-content-voucher-table {
    padding: 15px 0px;
    width: 100%; 
}

.shoppingcart-content-voucher-table-column {
    position: relative; 
}

#shoppingcart-content-voucher-wrapper {
    position: relative; 
    float: right;
}

#shoppingcart-content-voucher-tooltip {
    position: relative;  
    font-weight: normal; 
    font-size: 12px;
    text-align: right;
    margin: 0px 20px 30px 20px;
}
    
#shoppingcart-content-voucher-tooltip-input {
    text-align: right;
    padding-right: 10px;
}
    
#shoppingcart-content-voucher-tooltip-error-msg {
    width: 100%;
    /*text-align: center;*/
    color: red;
    font-size: 13px;
    font-style: italic;
    text-align: right;
}

#shoppingcart-content-voucher-tooltip-button {  
    /*width: 100px;*/ 
    /*height: 32px;*/
    /*text-align: center;*/
    /*margin: -5px 0 5px 0;*/
}

#shoppingcart-content-voucher-message-wrapper {
    position: relative; 
    width: 400px;  
    padding: 10px;
    font-weight: normal;
    text-align: justify;
    /*border:  #0000CC solid thin;*/ 
}

#shoppingcart-content-voucher-message-title {
    position: relative; 
    width: 100%;    
    font-size: 20px; 
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

#shoppingcart-content-voucher-message-msg {
    position: relative; 
    width: 100%;    
    font-size: 14px; 
    color: black;
    margin-bottom: 10px;
    
}