
.showcase-content-article-column {
    border-bottom: #000000 dotted thin;
}

.showcase-content-article-img {
    /*border: 1px solid #fff;*/
    
/*    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;*/

/*    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;        */
}